<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= stream %>
    <audio src="<%= stream %>" controls>
      Your browser does not support the audio element.
    </audio>
  </body>
</html>
